/*--- Font Families ---*/

@font-face {font-family: "LexendPeta-Regular"; src: url("fonts/LexendPeta-Regular.ttf"); }
@font-face {font-family: "Gayathri-Thin"; src: url("fonts/Gayathri-Thin.ttf"); }


/*--- Base Styles ---*/

body {
    margin: 0;
	padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}


/*--- Class & ID Styles ---*/

.menu {
    background-color: #faf087;
    padding: 6px 0;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: 3px solid #fdf9cf;
    border-bottom: 2px solid #fbf4ab;
}

#submenuOptions {
    display: flex;
    list-style-type: none;
    align-items: center;
    font-family: LexendPeta-Regular;
    font-size: 9px;
    letter-spacing: -2px;
}

#submenuOptions li {
    padding-right: 8px;
}

#submenuOptions a {
    text-decoration: none;
    color: black;
}

.submenuTitle {
    font-family: LexendPeta-Regular;
    font-size: 9px;
    color: #6a2c70;
    letter-spacing: -2px;
    margin-right: 12px;
}

#contactMethods {
    font-family: Gayathri-Thin;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: 24px;
}

#contactMethods li {
    display: inline-block;
    margin-right: 16px;
}

.findUs,
.callUs,
.facebookUs,
.instagramUs {
    filter: invert(18%) sepia(28%) saturate(4530%) hue-rotate(273deg) brightness(88%) contrast(84%);
}

.findUs:hover {
    filter: invert(47%) sepia(98%) saturate(350%) hue-rotate(98deg) brightness(89%) contrast(92%);
    transition-duration: 0.5s;
}

.callUs:hover {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
    transition-duration: 0.5s;
}

.facebookUs:hover {
    filter: invert(33%) sepia(9%) saturate(3250%) hue-rotate(183deg) brightness(98%) contrast(92%);
    transition-duration: 0.5s;
}

.instagramUs:hover {
    filter: invert(45%) sepia(70%) saturate(6748%) hue-rotate(315deg) brightness(88%) contrast(96%);
    transition-duration: 0.5s;
}

#parallaxOne {
    background-image: url(img/weddingSetUp_1.jpg);
    min-height: 400px;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#parallaxTwo {
    background-image: url(img/weddingSetUp_3.jpg);
    min-height: 500px;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.textBoxOne {
    background-color: #faf087;
    padding: 75px 0;
    padding-left: 12px;
}

.textBoxOne h1 {
    font-family: LexendPeta-Regular;
    font-size: 24px;
    text-align: center;
    margin-bottom: 6vh;
}

.textBoxOne p {
    text-align: justify;
    padding: 0 20%;
    font-family: Gayathri-Thin;
    font-size: 18px;
    letter-spacing: 1.2px;
}

footer {
    padding: 2em 0;
    text-align: center;
    background-color: #faf087;
    font-family: Gayathri-Thin;
    font-size: 18px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    padding: 10px;
  }

.column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.column img:hover {
    opacity: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.show_tell_container {
    position: relative;
    display: none;
}

#expandedImg {
    display: flex;
    margin: 0 auto;
}

#imgtext {
    margin: 2% 0;
    color: black;
    font-size: 14px;
    background: #e5e5e5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: Gayathri-Thin;
}

.closebtn {
    position: absolute;
    top: 28px;
    right: 7.5px;
    color: black;
    font-size: 35px;
    cursor: pointer;
}

#serviceList {
    display: block;
    margin: 0 auto;
    width: 360px;
}


/*---------------*/
/*-Media Queries-*/
/*---------------*/

@media (min-width: 699px) {



}

@media (min-width: 1110px) {

/*--- Base Styles ---*/

body {
    margin: 0;
	padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}


/*--- Class & ID Styles ---*/

.menu {
    background-color: #faf087;
    padding: 6px 0;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: 3px solid #fdf9cf;
    border-bottom: 2px solid #fbf4ab;
}

#submenuOptions {
    display: flex;
    list-style-type: none;
    align-items: center;
    font-family: LexendPeta-Regular;
    font-size: 14px;
    letter-spacing: -1.5px;
}

#submenuOptions li {
    padding-right: 12px;
}

#submenuOptions a {
    text-decoration: none;
    color: black;
}

.submenuTitle {
    font-family: LexendPeta-Regular;
    font-size: 14px;
    color: #6a2c70;
    letter-spacing: -3px;
    margin-right: 16px;
}

#contactMethods {
    font-family: Gayathri-Thin;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: 36px;
}

#contactMethods li {
    display: inline-block;
    margin-right: 16px;
}

.findUs,
.callUs,
.facebookUs,
.instagramUs {
    filter: invert(18%) sepia(28%) saturate(4530%) hue-rotate(273deg) brightness(88%) contrast(84%);
}

.findUs:hover {
    filter: invert(47%) sepia(98%) saturate(350%) hue-rotate(98deg) brightness(89%) contrast(92%);
    transition-duration: 0.5s;
}

.callUs:hover {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
    transition-duration: 0.5s;
}

.facebookUs:hover {
    filter: invert(33%) sepia(9%) saturate(3250%) hue-rotate(183deg) brightness(98%) contrast(92%);
    transition-duration: 0.5s;
}

.instagramUs:hover {
    filter: invert(45%) sepia(70%) saturate(6748%) hue-rotate(315deg) brightness(88%) contrast(96%);
    transition-duration: 0.5s;
}

#parallaxOne {
    background-image: url(img/weddingSetUp_1.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.textBoxOne {
    background-color: #faf087;
    padding: 75px 0;
    padding-left: 12px;
}

.textBoxOne h1 {
    font-family: LexendPeta-Regular;
    font-size: 24px;
    text-align: center;
    margin-bottom: 6vh;
}

.textBoxOne p {
    text-align: justify;
    padding: 0 20%;
    font-family: Gayathri-Thin;
    font-size: 18px;
    letter-spacing: 1.2px;
}

#parallaxTwo {
    background-image: url(img/weddingSetUp_3.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    padding: 2em 0;
    text-align: center;
    background-color: #faf087;
    font-family: Gayathri-Thin;
    font-size: 18px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.show_tell_container {
    position: relative;
    display: none;
}

#expandedImg {
    display: flex;
    margin: 0 auto;
}

#imgtext {
    margin: 2% 0;
    color: black;
    font-size: 20px;
    background: #e5e5e5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: Gayathri-Thin;
}

.closebtn {
    position: absolute;
    top: 80px;
    right: 55px;
    color: black;
    font-size: 35px;
    cursor: pointer;
}

#serviceList {
    display: block;
    margin: 0 auto;
    width: 1110px;
}

}